<style>
.navContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}
.navItem {
	padding: 3px 8px;
	border: #C5C5C5 solid 1px;
	color: rgb(128, 128, 128);
	background-color: rgb(245, 245, 245);
	font-weight: bold;
	text-align: center;
	display: inline-block;
	margin: 0px 5px;
}
.tile .beltColor {
	width: 100%;
	margin: auto;
	border-bottom: solid 3px rgb(0,0,0);
	border-top: solid 3px rgb(0,0,0);
	position: relative;
	height: 30px;
	box-sizing: border-box;
}
.tile .stripeColor {
	height: 10px;
	width: 100%;
	position: absolute;
	margin-top: 7px;
}
.tile .stripeColor.double {
	margin-top: 1px;
}
.tile .doubleColor {
	position: absolute;
	width: 100%;
	height: 10px;
	margin-top: 13px;
}
</style>

<div class="title">
	<div class="content">Select Belt</div>
</div>

<div class="navContainer">
	<div class="navItem button" ng-repeat="button in buttons" ng-click="navigate(button.url)">{{button.name}}</div>
</div>

<div class="tileContainer">
	<div class="tile button" ng-click="beltClick($index)" ng-repeat="belt in belts">
		<div class="beltColor" ng-style="{'background-color': belt.color}" ng-class="belt.stripeColor ? 'stripePadding' : ''">
			<div class="stripeColor" ng-class="{double: belt.doubleColor}" ng-show="belt.stripeColor" ng-style="{'background-color': belt.stripeColor}"></div>
			<div class="doubleColor" ng-show="belt.doubleColor" ng-style="{'background-color': belt.doubleColor}"></div>
		</div>
	</div>
</div>
