<style>
.videoContainer {
	margin-bottom: 150px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
.video {
	box-shadow: 0px 10px 16px rgba(0,0,0,.1);
	position: relative;
	margin: 0px 10px;
	width: 300px;
	background-color: rgb(0,0,0);
}
video {
	width: 300px;
}
.form {
	display: flex;
	box-shadow: 0px 10px 16px rgba(0,0,0,.1);
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 300px;
}
form-layout {
	margin: 0px 20px;
}
form-layout line {
	stroke: black;
	stroke-width: 8px;
	stroke-linecap: square;
	cursor: pointer;
}
form-layout .active {
	stroke: red;
}
.card {
	margin: 0px 20px;
}
.card .step {
	font-weight: bold;
}
.card ul {
	padding: 0px 10px;
	margin: 0px;
}
.card li {
	list-style: none;
}

@media (min-width: 600px) {
	.video {
		width: 590px;
	}
	video {
		width: 590px;
	}
	.form {
		width: 590px;
	}
}
</style>

<div class="pageTitle">
	<div class="titleBar" ng-style="{'background-color': leftBar}"></div>
	<div class="titleText">{{beltName}} Form</div>
	<div class="titleBar" ng-style="{'background-color': rightBar}"></div>
</div>

<div class="navContainer">
	<div class="navMenu navItem button" ng-click="formNavShow = !formNavShow">School Menu</div>
	<div class="navItem button" ng-class="{active: formNavShow}" ng-repeat="button in buttons" ng-click="navigate(button.url)">{{button.name}}</div>
</div>

<div class="contentContainer">
	<div class="videoContainer">
		<div class="video">
			<video id="player"
				onloadeddata="angular.element(this).scope().isLoaded(event)"
				oncanplay="angular.element(this).scope().canPlay()">
				<source ng-src="{{videoSrc}}" type="video/mp4" />
			</video>
		</div>
		
		<div class="form">
			<form-layout segments="stepSegments" current="cards[currentIndex].segment" line-click="selectSegment(segmentIndex)"></form-layout>
			
			<div class="card" ng-repeat="card in cards" ng-show="currentIndex == $index">
				<img ng-src="/{{beltIndex}}/form/{{$index}}.png" />
				
				<div class="step" ng-show="card.number">Step {{card.number}}</div>
				<ul>
				<li ng-repeat="instruction in card.text">{{instruction}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>