<style>
.contentArea {
	width: 496px;
	margin: 0px auto;
}
.updateTypes {
	margin: 12px;
	padding-bottom: 8px;
	border-bottom: 1px solid rgb(229, 229, 229);
}
.updateType {
	display: inline-block;
	font-size: 12px;
	padding: 5px 8px;
	font-weight: bold;
}
.updateType:nth-child(2) {
	border-left: 1px solid rgb(229, 229, 229);
}
.updateType a {
	color: rgb(59, 89, 152);
	text-decoration: none;
}
.updatePic {
	float: left;
	border: 1px solid rgb(230,230,230);
}
.updateContent {
	padding: 10px;
	margin-left: 50px;
	font-size: 14px;
	color: rgb(189, 193, 201);
}
.updateContainer {
	margin: 0px 12px 12px 12px;
}
.updateContainer img {
	width: 40px;
}
.updateActionBar {
	margin: 0px 12px 12px 12px;
	text-align: right;
	border-top: 1px solid rgb(229, 229, 229);
	padding-top: 8px;
}
.updateActionRight {
	display: inline-block;
}
.updateActionBar button {
	background-color: rgb(51, 122, 183);
	border: 1px solid rgb(46, 109, 164);
	color: rgb(255,255,255);
	font-weight: bold;
	padding: 5px;
}
.postItem {
	border: 1px solid rgb(229, 230, 233);
	margin-bottom: 20px;
	box-shadow: 0px 4px 11px rgba(0,0,0,0.06);
}
.postHeader {
	margin: 12px;
}
.headerInfo {
	display: inline-block;
	vertical-align: top;
}
.postHeader img {
	width: 40px;
	height: 40px;
}
.postHeader .headerName {
	font-size: 14px;
	font-weight: bold;
	color: rgb(59, 89, 152);
}
.postHeader .headerData {
	font-size: 12px;
	color: rgb(145, 151, 163);
}
.postText {
	font-size: 14px;
	margin: 0px 12px 12px 12px;
}
.postImage {
	margin: 0px 12px 12px 12px;
}
.postImage img {
	width: 470px;
	margin: 0px auto;
	display: block;
}
.postAction {
	margin: 0px 12px 12px 12px;
	border-top: 1px solid rgb(229, 229, 229);
	padding-top: 4px;
}
.postAction .actionText {
	display: inline-block;
	vertical-align: middle;
}
.postAction img {
	vertical-align: middle;
}
.picImage {
	width: 40px;
	float: left;
	margin-right: 8px;
}
.commentText {
	font-size: 12px;
}
.comments {
	background-color: rgb(246, 247, 248);
	padding: 10px 0px;
}
.comment {
	margin: 0px 12px 12px 12px;
}
</style>

<div class="contentArea">
	<div class="postItem">
		<div class="updateTypes">
			<div class="updateType">Update Status</div>
			<div class="updateType"><a href="">Add Photo/Video</a></div>
		</div>
		
		<div class="updateContainer">
			<div class="updatePic">
				<img src="/misc/profile1.png?r=40" />
			</div>
			<div class="updateContent" contenteditable="true">What's Happening</div>
		</div>
		
		<div class="updateActionBar">
			
			<div class="updateActionRight">
				<button>Update</button>
			</div>
		</div>
	</div>
	
	<div class="postItem" ng-repeat="post in posts">
		<div class="post">
			<div class="postHeader">
				<img ng-src="{{post.user.pic}}" />
				<div class="headerInfo">
					<div class="headerName">{{post.user.name}}</div>
					<div class="headerData">{{post.timeMessage}}</div>
				</div>
			</div>
			
			<div class="postText">{{post.text}}</div>
			
			<div class="postImage" ng-show="post.type == 'image'">
				<img ng-src="{{post.content.img}}"
			</div>
		</div>
		
		<div class="postAction">
			<img src="/misc/like.png" />
			<div class="actionText">Like</div>
		</div>
		
		<div class="comments" ng-show="post.comments.length > 0">
			<div class="actionText"></div>
			
			<div class="comment" ng-repeat="comment in post.comments">
				<img class="picImage" ng-src="{{comment.user.pic}}" />
				<div class="commentText">
					<span class="commentUser">{{comment.user.name}}</span> {{comment.text}}
					<div class="commentAction">
						<a href="">Like</a> · <a href="">Reply</a> · <img src="/misc/like2.png" /> {{comment.likeCount}} · {{comment.timeMessage}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>