<style type="text/css">
.container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
.profileContainer {
	display: flex;
	flex-direction: column;
	margin-right: 80px;
}
.profileContainer .pic {
	background: url("/misc/dotext.png") no-repeat right bottom rgb(241, 241, 241);
	width: 220px;
	height: 200px;
	border: 1px solid #C5C5C5;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.pic img {
	width: auto;
	height: 100%;
}
.profileNav {
	padding: 8px 0px;
	border-right: #C5C5C5 solid 1px;
	color: rgb(128, 128, 128);
	background-color: rgb(245, 245, 245);
	font-weight: bold;
	font-size: 1.3em;
	border-left: #C5C5C5 solid 1px;
	border-bottom: #C5C5C5 solid 1px;
	text-align: center;
}
.contentColumn {
	width: 800px;
}
.categoryTitle {
	font-size: 1.7em;
	font-weight: bold;
	color: rgb(150,150,150);
	padding-bottom: 5px;
	border-bottom: solid rgb(150,150,150);
}
card {
	margin: 10px;
	cursor: pointer;
	width: 236px;
	height: 326px;
	display: inline-block;
}
card .borderRect {
	stroke: rgb(150,150,150);
	fill: transparent;
}
card polygon, line {
	stroke: rgb(117, 166, 199);
	fill: rgb(255,255,255);
	stroke-width: 2;
}
card text {
	fill: rgb(117, 166, 199);
	font-family: Verdana;
	font-weight: bold;
}
card text.schoolName {
	font-size: 19px;
}
card .startYear {
	stroke: rgb(200,200,200);
}
card text.startYear {
	font-weight: normal;
	font-size: 19px;
}
</style>

<div class="container">
	<div class="profileColumn">
		<div class="profileContainer">
			<div class="pic">
				<img src="/misc/profile1.png" />
			</div>
			
			<div class="profileNav button" ng-click="navigate('/profile')">Profile</div>
			<div class="profileNav button">Friends</div>
			<div class="profileNav button">Settings</div>
		</div>
	</div>
	
	<div class="contentColumn">
		<div class="categoryGroup" ng-repeat="category in categories">
			<div class="categoryTitle">{{category.name}}</div>
			
			<div class="categoryCards">
				<card ng-click="navigate('/friend')" ng-repeat="person in category.people" profile="person"></card>
			</div>
		</div>
	</div>
</<div>