html {
	font-family: Verdana;
}
body {
	margin: 0px;
}

.button {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.header .barContainer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.header .bar {
	flex-grow: 1;
}
.header .bar hr {
	border-color: black;
	height: 2px;
	background-color: black;
}
.header .barContainer:nth-child(3) .bar:nth-child(2) {
	margin-left: 20px;
}

.header .barContainer:nth-child(1) .bar:nth-child(2) {
	margin-right: 20px;
}

.navigation {
	display: flex;
	justify-content: center;
	flex-flow: column;
	text-align: center;
	margin-top: 10px;
}
.navigation .mainNavItem {
	color: rgb(128, 128, 128);
	background-color: rgb(245, 245, 245);
	font-weight: bold;
	font-size: 1.3em;
	margin: 0px 40px;
	height: 0;
	line-height: 17px;
	overflow: hidden;
	transition: all 0.3s ease;
}
.navigation .mainNavMenu {
	border: #C5C5C5 solid 1px;
	height: 30px;
	line-height: 30px;
}
.navigation .mainNavItem.active {
	border: #C5C5C5 solid 1px;
	height: 30px;
	line-height: 30px;
}

.pageTitle {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.pageTitle .titleBar {
	width: 33px;
	height: 5px;
	margin: auto 5px;
}
.pageTitle .titleText {
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

.tileContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.tile {
	position: relative;
	display: flex;
	width: 200px;
	height: 200px;
	border: rgb(200,200,200) solid 1px;
	box-sizing: border-box;
	margin: 20px;
	box-shadow: 0px 10px 16px rgba(0,0,0,.1);
}
.tile img {
	margin: auto;
}
.tile .background {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: .5;
}
.tile .text {
	position: absolute;
	z-index: 2;
	margin: 40% auto;
	font-weight: bold;
	font-size: 1.8em;
	color: black;
	width: 100%;
	text-align: center;
}

.navContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	flex-flow: column;
}
.navItem {
	color: rgb(128, 128, 128);
	background-color: rgb(245, 245, 245);
	font-weight: bold;
	text-align: center;
	margin: 0px 5px;
	width: 150px;
	height: 0;
	line-height: 17px;
	overflow: hidden;
	transition: all 0.3s ease;
}
.navItem.navMenu {
	border: #C5C5C5 solid 1px;
	height: 35px;
	line-height: 35px;
}
.navItem.active {
	border: #C5C5C5 solid 1px;
	height: 35px;
	line-height: 35px;
}

.contentContainer {
	display: flex;
	justify-content: center;
	flex-flow: column;
	margin-top: 40px;
}

@media (min-width: 600px) {
	.navigation {
		flex-flow: row;
	}
	.navigation .mainNavItem {
		display: inline-block;
		height: 30px;
		line-height: 30px;
		border: #C5C5C5 solid 1px;
		padding: 3px 10px;
	}
	.navigation .mainNavMenu {
		display: none;
	}
	
	.navContainer {
		flex-flow: row;
	}
	.navItem {
		width: auto;
		display: inline-block;
		height: 17px;
		border: #C5C5C5 solid 1px;
		padding: 3px 8px;
		font-size: .8em;
	}
	.navMenu {
		display: none;
	}
}